.introduction {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: #161a1e;

  img {
    position: absolute;
    z-index: 1;
    width: clamp(240px, 30vw, 500px);
    height: auto;
  }
}
