@import "tailwindcss";

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html { 
  scroll-behavior: smooth; 
}

body {
  font-family: var(--font-primary), Arial, Helvetica, sans-serif;
  background: #202020;
  color: white;
}
