.footer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 40px;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 10px;
    padding: 0;
    list-style: none;
  }

  li {
    span {
      color: #9f9689;
    }
  }

  .icons a {
    color: white;
    transition: transform 0.3s ease, color 0.4s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

  .youtube:hover {
    color: #FF2B2B;
  }

  .boosty:hover {
    color: #F15F2C;
  }

  .telegram:hover {
    color: #42AAFF;
  }
}
